#food .swiper-container {
  margin-top: 50px;
  height: 500px;
	width: 100%;
  overflow: hidden;
}

// .arrows {
//   position: relative;
//   top: 330px;
//   width: 17px;
//   height: 30px;
//   z-index: 9999;
//   .arrow-left {
//     background: url(/assets/images/all/arrows.png) no-repeat left top;
//     display: block;
//   }
//   .arrow-right {
//     background: url(/assets/images/all/arrows.png) no-repeat right top;
//     display: block;
//   }
// }

.swiper-wrapper {
  overflow: hidden;
}

.swiper-slide {
background-size: cover;
background-repeat: no-repeat;
float: left;
overflow: hidden;
}

.pagination {
  position: relative;
  left: 0;
  text-align: center;
  bottom: 30px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

// Food Slides
#slide_1 {
  background-image: url(/assets/images/mobile/food/food_1.jpg)
}
#slide_2 {
  background-image: url(/assets/images/mobile/food/food_2.jpg)
}
#slide_3 {
  background-image: url(/assets/images/mobile/food/food_3.jpg)
}
#slide_4 {
  background-image: url(/assets/images/mobile/food/food_6.jpg)
}
#slide_5 {
  background-image: url(/assets/images/mobile/food/food_5.jpg)
}
#slide_6 {
  background-image: url(/assets/images/mobile/food/food_4.jpg)
}
// #slide_7 {
//   background-image: url(/assets/images/mobile/food/food_7.jpg)
// }
// #slide_8 {
//   background-image: url(/assets/images/mobile/food/food_9.jpg)
// }
// #slide_9 {
//   background-image: url(/assets/images/mobile/food/food_8.jpg)
// }

// Captions

.food_caption_center {
  width: 100%;
  margin-top: 10%;  
  padding: 2px;
  background-color: $food_caption;
  text-align: center;
  h3 {
    font-size: 1.55em;
    color: $white;
  }
  p {
    // font-size: 1.15em;
    // letter-spacing: .05em;
    color: $white;
    margin: 10px 5%;
  }
}
