#mission {
	position: relative;
	background-image: url("/assets/images/mobile/mission_bg.jpg");
	// background-attachment: fixed;
	height: 900px;
	width: 100%;
	background-size: 600px auto;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: -1;
	margin-top: -125px;
}

.mission_statement {
	width: 85%;
	max-width: 360px;
	margin: 50% auto 0 auto;
	padding: 25px;
	text-align: center;
	color: $white;
	background-color: $black_trans;
	h3 {
		padding: 5px 0 15px 0;
	}
}

