
.screen_story_container, .screen_story_title {
	display: none;
}

#story .story-swiper-container {
	display: block;
	position: relative;
	padding-top: 15%;
	height: 745px;
	width: 100%;
	z-index: 0;
	background-color: $white;
	overflow: hidden;

}

.swiper-slide {
	position: relative;
}

.story_title .story_arrow_left {
		height: 90px;
		width: 90px;
		background-image: url(/assets/images/all/left.svg);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 1;
		position: absolute;
		margin: 90px 0 0 0;
		cursor: pointer;

}
.story_title .story_arrow_right {
		height: 90px;
		width: 90px;
		background-image: url(/assets/images/all/right.svg);
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 1;
		position: absolute;
		margin: 90px 0 0 0;
		right: 0;
		cursor: pointer;
}

.story_title {
	margin: 0 auto 30px auto;
	text-align: center;
}

.story_circle_retno {
		background-image: url(/assets/images/all/retno_headshot.jpg);
		width: 150px;
		height: 150px;
		background-size: contain;
		border-radius: 50%;
		margin: 0 auto;
}
.story_circle_peter {
		background-image: url(/assets/images/all/peter_headshot.jpg);
		height: 150px;
		width: 150px;
		background-size: cover;
		border-radius: 50%;
		margin: 0 auto;
}

.story_content {
	text-align: center;
	h3 {
		color: $kaki_red;
		position: inline;
		margin-left: 0px;
		padding: 5px 0;
	}
	width: 85%;
	max-width: 360px;	
	margin: 20px auto 0 auto;
}

.story_pagination {
  position: relative;
  left: 0;
  text-align: center;
  bottom:30px;
  width: 100%;
}