$white: #fff;
$kaki_red: #EE3124;
$kaki_red_trans: rgba(238, 49, 36, .75);
$kaki_brown: rgb(91, 16, 16);
$visited: rgb(192, 192, 192); 
$black_trans: rgba(0, 0, 0, .6);
$food_caption: rgba(170, 140, 50, .6);
$food_green: rgb(170, 140, 50);
$food_bg: rgb(177, 111, 47);
